<!DOCTYPE  html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Update</h2>
    <form action="/update/<%= studentsRecords.id%>" method="post">

        <label for="">name</label>
        <input type="text" name="name" id="" value="<%= studentsRecords.name%>">
        <label for="">address</label>
        <input type="text" name="address" id="" value="<%= studentsRecords.address%>">
        <label for="">rollNO</label>
        <input type="text" name="rollNO" id="" value="<%= studentsRecords.rollNo%>">
    <button type="submit">save </button>
    </form>
</body>
</html>